.body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  position: fixed;
  z-index: 5;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  height: 69px;
  width: 100%;
  align-items: center;
  background-color: black;
  top: 0px;
  border-bottom: 1px solid seashell;
}

  .header__logo {
    height: 50px;
    margin-left: 10px;
  }

  .header__nav-panel {
    margin-left: auto;
    margin-right: 10px;
  }

  .header__nav-panel__nav-button {
    margin: 0px 10px;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
  }

  section:target {
    padding-top: 70px;
    margin-top: -70px;
  }

.main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: center;
  top: 60px;
}

  .mission {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url("./../img/img-mission-background.jpg");
  }

    .mission__overlay-text {
      background-color: black;
      width: 100%;
    }

    .mission__overlay-text__text-string {
      text-align: center;
      margin: 15px 0px;
    }

  .featured {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: 60px;
  }

    .featured__text-string {
      text-align: center;
      margin: 15px 0px;
    }

    .featured__tea-gallery {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 auto;
      justify-content: center;
      width: 1000px;
      margin-top: 15px;
    }

      .featured__tea-gallery__item {
        display: flex;
        flex-flow: column nowrap;
        flex 0 0 auto;
        margin: 0px 15px;
      }

        .featured__tea-gallery__item__img {
          height: 200px;
          width: 300px;
        }

        .featured__tea-gallery__item__text-string {
          text-align: center;
        }

  .locations {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    justify-content: center;
    height: 500px;
    width: 1200px;
    background-image: url("./../img/img-locations-background.jpg");
  }

    .locations__text-string {
      text-align: center;
      margin: 0px 0px;
    }

    .locations__address-container {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 auto;
      justify-content:  center;
    }

      .locations__address-container__address-block {
        width: 300px;
        background-color: black;
        opacity: 1;
        margin: 15px 10px;
      }

        .locations__address-container__address-block__text-string {
          text-align: center;
          margin: 30px 0px;
        }

  .contact {
    height: 200px;
  }
    .contact__text-string {
      text-align: center;
      margin: 15px 0px 30px 0px;
    }

.footer {
  margin-top: 60px;
}

  .footer__text-string {
    margin-left: 20px;
  }
